.container{
    margin: 0 auto;
    width: 700px;
    text-align:center;
}
.login-footer{
text-decoration: none;
color:#42a2e3;
}
.login-form-section{
margin-bottom:30px;
}
.email container{
margin-bottom: 18px;
margin:0 auto;
}
.inputs{
width: 550px;
height:50px;
background-color:#f5f8fa;
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom: 2px solid #93a0ab;
margin-bottom: 15px;
padding-left:15px;
}
.Login-button{
width: 565px;
height: 50px;
border: 0;
border-radius: 100px;
font-size: 15px;
color:#fff;
background-color:#9bd1f9;
}
.logo{
    width:50px;
}
