* {
    box-sizing: border-box;
}
body{
    background-color:lightgrey;
}
.column{
    float: left;
    width: 25%;
    padding: 10px;
}
.card{
    box-shadow:4px 8px mediumpurple;
    padding:15px;
}
h1{
    font-family: initial;
    text-align: center;
}
