.content{
    align-content:center;
}
.header{
    display: flex;
}


.whiteside{
    margin:0px;
    padding-left: 5cm;
    padding-right: 5cm;
    width: 7.5cm;
    padding-top: 2cm;
    
}
.blueside{
    margin:0px;
    background-image: url("https://www.google.com/search?q=twitter+logo+image+download&rlz=1C2AVSK_enUG646UG646&sxsrf=ALeKk01Wql4jRvUxe8E1v4FxS52KmvxT8w:1602504586789&tbm=isch&source=iu&ictx=1&fir=xxiutL6YzPYawM%252CAwPqTUFlf5_WtM%252C_&vet=1&usg=AI4_-kTQT4EmJg17etdG1cssHBwWPPs1Cw&sa=X&ved=2ahUKEwi-yJXlgq_sAhULQRUIHQFdBLkQ9QF6BAgKEEw#imgrc=xxiutL6YzPYawM");
    background-color: rgb(104, 228, 228);
    padding-left:5cm;
    padding-right:5cm;
    padding-bottom: 5cm;
    padding-top: 5cm;
    width:7.5cm ;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.blueside li{
    margin: 20px;
    padding-right: 10px;
} 

    
.signup-button{
    background-color:rgb(3, 175, 167);
    color:white;
    margin:10px;
    border-radius: 2cm;
}
.signup-button:hover{
    background-color: rgb(77, 128, 224);
}
.signup-button h2{
    text-align: center;
}
.login-button{
    background-color:white;
    border: 1px solid lightseagreen;
    margin: 10px; 
    border-radius: 2cm; 
}
.login-button h2{
    color: lightseagreen;
    text-align:center;
}
.login-button:hover{
    background-color: rgb(198, 243, 245);
}
ul{
    list-style: none;
    overflow: auto;
    margin:10px;
}
.footer li{
    float: left;
    color:gray;
    margin:2px;
}

.see{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

